@tailwind base;
@tailwind utilities;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  @apply disabled:bg-slate-400 disabled:cursor-not-allowed disabled:text-white box-border m-0;
  font-family: Roboto, sans-serif
}

body{
   @apply bg-[#262c3a];
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-lg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

button {
  @apply bg-slate-600 rounded-md w-10 h-10 p-2 min-w-fit text-white;
}


th, td{ @apply w-2/4 p-2 m-7 }

span{ @apply font-bold}

.bg-1{
    background: url("./Assets/bg/rick-morty-opaque-walking.jpg") no-repeat center/cover;
  }
.bg-2{
  background: url("./Assets/bg/rick-on-bottom-right-blue-bg.png") no-repeat center/cover;
}

.hyperlink{
  @apply italic text-blue-700 hover:text-blue-400 hover:cursor-pointer hover:underline
}

.modal {
  @apply fixed inset-y-0 inset-x-0 bg-gray-900 bg-opacity-50 flex flex-col justify-center items-center;
  .card {
    @apply rounded-2xl p-10 border border-gray-50 shadow-lg bg-white flex justify-center flex-col;
    input,
    select,
    textarea {
      @apply border border-black block;
    }
  }
}


.custom-scrollbar-div{
  /* width */
  ::-webkit-scrollbar {
    @apply w-3
  }

/* track */
::-webkit-scrollbar-track {
  @apply shadow-inner shadow-slate-700 rounded-xl;
}

/* handle */
::-webkit-scrollbar-thumb {
  @apply bg-[#b5edfc] rounded-xl;
  &:hover{
    @apply bg-cyan-500
  }
}
}